<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://storageapi.shashank.my.id/bootstrap@5.3.0/css/bootstrap.min.css" integrity="sha256-fx038NkLY4U1TCrBDiu5FWPEa9eiZu01EiLryshJbCo=" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-1">Secret Sharing</span>
    </a>

    <ul class="nav fs-1">
      <li class="nav-item"><a href="/" class="btn btn-light" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="register" class=" btn btn-secondary">Register</a></li>
      <li class="nav-item"><a href="/login" class="btn btn-light">Login</a></li>
      <li class="nav-item"><a href="secrets" class="btn btn-secondary">Share Secret</a></li>
    </ul>
  </header>
</div>
<body>
